/*

Add styles or override variables from the theme here.

*/

html,
#doc-outer {
  //height: 100%;
  overflow-y: auto !important;
  scroll-behavior: smooth;
}

.nav-link span {
  color: black;
}

.nav-link span:hover {
  color: rgba(0, 0, 0, 0.5);
}

.nav-link.active {
  color: rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: #e3e7ec !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.navbar-logo img {
  height: 32px;
}

.polaris-footer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 40px 0;
  color: #999;
  text-align: center;
  position: relative;
}
.polaris-footer-background {
  width: calc(100% + 300px);
  height: 100%;
  position: absolute;
  background-color: #f8f8f8;
  top: 0;
  left: -150px;
  z-index: -1;
}
.polaris-footer a {
  color: #999;
  text-decoration: none;
  margin-left: 20px;
}

.polaris-front {
  font-family: PingFang SC;
}

.polaris-front .btn:focus,
.polaris-front .btn:focus-within {
  outline: none;
  box-shadow: none;
}

.polaris-main {
  margin-top: 64px;
}

.polaris-main-title {
  font-size: 40px;
  margin-top: 8.8vw;
  font-weight: 700;
}

.polaris-main-desc {
  margin-top: 60px;
  color: gray;
}

.polaris-main-link-btn-group {
  margin-top: 30px;
}
.polaris-main-link-btn-group button {
  width: 9vw;
  height: 3vw;
  min-width: 130px;
  min-height: 40px;
  max-width: 174px;
  max-height: 56px;
  margin-left: 24px;
  border-radius: 3px;
  border: 1px solid rgba(209, 209, 209, 1);
}
.polaris-main-link-btn-group .btn {
  background: #ffffff;
  color: #000000;
}

.polaris-main-link-btn-group .btn-black {
  border-radius: 3px;
  background: rgba(38, 47, 62, 1);
  color: #ffffff;
}

.polaris-main-link-btn-group .btn-black:hover,
.polaris-main-link-btn-group .btn-black:focus {
  background: #fff !important;
  border: 1px solid rgba(209, 209, 209, 1) !important;
  color: #000 !important;
}

.polaris-main-link-btn-group .btn-black:active {
  background: #fff !important;
  border: 1px solid rgba(209, 209, 209, 1) !important;
  color: #000 !important;
  outline: none;
}

.polaris-main-link-btn-group .btn:hover,
.polaris-main-link-btn-group .btn:focus {
  background: #000 !important;
  border: 1px solid rgba(209, 209, 209, 1) !important;
  color: #fff !important;
}

.polaris-main-link-btn-group .btn:active {
  background: #000 !important;
  border: 1px solid rgba(209, 209, 209, 1) !important;
  color: #fff !important;
  outline: none;
}

.polaris-background {
  opacity: 1;
  background: linear-gradient(
    180deg,
    rgba(226, 231, 236, 1) 0%,
    rgba(226, 231, 236, 0) 100%
  );
  height: 894px;
  position: absolute;
  top: 0;
  left: -25px;
  width: calc(100% + 50px);
  z-index: -1;
}

.polaris-main-download-btn-group {
  margin-top: 40px;
}

.polaris-main-download-btn-group .btn {
  border-radius: 3px;
  background: #d1d1d1;
  width: 122px;
  height: 32px;
  margin-left: 16px;
  color: #000000;
  font-size: 12px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 5px 20px;
}

.polaris-main-download-btn-group .btn:hover,
.polaris-main-download-btn-group .btn:focus {
  background: #000 !important;
  border: 1px solid rgba(209, 209, 209, 1) !important;
  color: #fff !important;
}

.polaris-main-download-btn-group .btn:active {
  background: #000 !important;
  border: 1px solid rgba(209, 209, 209, 1) !important;
  color: #fff !important;
  outline: none;
}

.animated-background {
  background-image: url("/img/wave-background.png");
  height: 894px;
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  /* -webkit-animation: leftScroll 60s linear infinite;
    -moz-animation: leftScroll 60s linear infinite;
    animation: leftScroll 60s linear infinite; */
  background-size: cover;
  background-repeat: repeat-x;
}

.structure-diagram {
  margin-top: 7vw;
}

.structure-diagram img {
  min-width: 500px;
  width: 100%;
}

.polaris-container {
  max-width: 1180px;
  width: 61.45vw;
}

.function-desc {
  margin: auto;
  max-width: 1700px;
  width: 88.54vw;
  border-radius: 30px;
  padding: 80px 0 40px 0;
  margin-top: 5.2vw;
}

.function-desc-logo {
  width: 50px;
  height: 50px;
  margin-top: 80px;
}

.function-desc-title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
}

.function-desc-text {
  font-size: 18px;
  margin-top: 40px;
  text-align: justify;
}

.function-desc .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.6);
}

.who-is-using {
  width: 62.5vw;
  max-width: 1200px;
  margin: 6.25vw auto 6.25vw auto;
}

.who-is-using-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.who-is-using-container {
  display: flex;
  flex-direction: row;
}

.who-is-using-logo {
  max-width: 220px;
  height: 150px;
  border-radius: 3px;
  opacity: 1;
  background: rgba(243, 244, 247, 1);
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.function-desc-image img {
  width: 100%;
}

.who-is-using-logo:first-child {
  margin-left: 0px;
}

.who-is-using-logo img {
  width: 100%;
  margin: auto;
}

.polaris-main-link-btn-group .btn {
  margin-top: 20px;
}

.polaris-main-download-btn-group .btn {
  margin-top: 20px;
}

.polaris-experience {
  width: 62vw;
  height: 380px;
  border-radius: 12px;
  opacity: 1;
  background: rgba(85, 108, 245, 1);
  margin-top: 8.3vw;
  background-image: url("/img/wave-background.png");
  background-position: 90% 25%;
}

.polaris-experience .polaris-main-title {
  margin-top: 70px;
  color: #fff;
}

.polaris-experience .btn {
  border: none;
  border-radius: 8px;
}

@-webkit-keyframes leftScroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000% 0;
  }
}

@-moz-keyframes leftScroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000% 0;
  }
}

@keyframes leftScroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000% 0;
  }
}

@media (max-width: 1024px) {
  .function-desc-logo {
    margin: auto;
    display: block;
  }

  .function-desc-title {
    font-size: 24px;
    padding: 20px;
    text-align: center;
  }

  .function-desc-text {
    padding: 20px;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }

  .function-desc-image img {
    padding: 20px;
  }

  #carouselExampleIndicators {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .low-resolution {
    display: none;
  }
}

@media (max-width: 767px) {
  .high-resolution {
    display: none;
  }

  .who-is-using-logo {
    width: 100%;
    height: 100px;
    padding: 20px;
  }

  .polaris-main-link-btn-group .btn {
    margin-left: 0px;
  }

  .polaris-main-download-btn-group .btn {
    margin-left: 0px;
  }

  .who-is-using-title {
    font-size: 24px;
  }

  .polaris-footer {
    font-size: 12px;
  }

  .polaris-footer a,
  .polaris-footer span {
    display: block;
  }

  .polaris-footer .high-resolution {
    display: none;
  }

  .polaris-main-title {
    font-size: 30px;
  }
}

#TableOfContents .active {
  color: #72a1e5 !important;
}

.project-container {
  padding: 0 15vw;
}

@media screen and (max-width: 1000px) {
  .project-container {
    padding: 0 2.5vw;
  }
}

.project-banner {
  background-image: url("/img/wave-background.png");
  margin-top: 64px;
  padding: 0 15vw;
  text-align: center;
}

.categories-container {
  text-align: center;
}

.categories-badge.badge {
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  font-size: 12px;
  font-family: "PingFangSC";
  font-weight: 400;
  padding: 4px 12px;
}

.project-card {
  height: 100%;
  background-color: #f8f8f8;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 32px;
}

.project-card .card-text {
  height: 60px;
  overflow: hidden;
}

.categories {
  padding: 12px 0px 0px 0px;
  font-family: "PingFangSC";
}

.categories-header {
  font-size: 20px;
  margin-bottom: 32px;
  font-weight: 600;
}

.project-card .card-logo {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}

.project-description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}

.small-logo {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  float: left;
}

.description-header {
  color: #ababab;
  font-size: 1rem;
  text-align: center;
  font-family: "PingFangSC";
  font-weight: 400;
}

.project-github-btn:focus {
  box-shadow: none;
}

.project-github-btn.btn {
  color: #6c757d;
  border-color: #6c757d !important;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  width: 100px;
}

.project-github-btn:hover {
  color: #6c757d;
  border-color: #6c757d;
  background-color: transparent;
}

.project-github-btn .small-logo {
  margin-top: 3px;
}

.color1 {
  background-color: #0052d9;
}

.color2 {
  background-color: #6c44ae;
}

.color3 {
  background-color: #007595;
}

.color4 {
  background-color: #4742b9;
}

.project-card .card-body {
  padding: 32px;
}

.scroll-anchor {
  position: relative;
  top: -80px;
  float: left;
}

@media screen and (max-width: 768px) {
  .project-card .card-text {
    height: 80px;
    overflow: scroll;
  }
}

@media screen and (max-width: 600px) {
  .structure-diagram {
    overflow-x: scroll;
  }
}
@media screen and (min-width: 2000px) {
  .doc-main {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}

.swagger-ui .info .title small pre {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  color: #060606;
}
.try-out {
  display: none;
}

.td-content p,
.td-content li {
  text-align: justify;
}
.td-content > table {
  width: 90% !important;
}
@media (min-width: 992px) {
  .td-content > pre,
  .td-content > .highlight,
  .td-content > .lead,
  .td-content > h1,
  .td-content > h2,
  .td-content > ul,
  .td-content > ol,
  .td-content > p,
  .td-content > blockquote,
  .td-content > dl dd,
  .td-content .footnotes,
  .td-content > .alert {
    max-width: 90% !important;
  }
}

.btn-grey {
  color: #000000;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: rgb(213, 216, 220);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.disable-click {
  background-color: rgb(175, 176, 178) !important;
  color: #848486;

  &:hover,
  &:focus {
    background-color: rgb(175, 176, 178) !important;
    color: #848486;
  }
}
