<nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
    <a class="navbar-brand" href="/">
        <span class="navbar-logo">
            <img src="/img/logo.png" />
        </span>
    </a>
    <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="/"><span>首页</span></a>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="/project" ><span>项目</span></a>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="/docs" ><span>文档</span></a>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="/blog" ><span>博客</span></a>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="http://14.22.2.220:80/#/login" target="_blank"><span>体验版</span></a>
            </li>
            <!--             
            {{ if (gt (len .Site.Home.Translations) 0) }}
            <li class="nav-item dropdown mr-4 d-none d-lg-block">
                {{ partial "navbar-lang-selector.html" . }}
            </li>
            {{ end }} -->
        </ul>
    </div>
    <!-- <div class="navbar-nav d-none d-lg-block ">{{ partial "search-input.html" . }}</div> -->
</nav>